body { 
	 background: url(https://img1.akspic.ru/previews/4/5/9/6/7/176954/176954-temnota-fraktalnoe_iskusstvo-purpur-fioletovyj-art-x750.jpg);
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
.photos {
   width: 15em;
    /*-webkit-filter: blur(2px);  
    filter: blur(2px);*/
 }

.photos_1 {
   width: 25%;
}

.photos_2 {
	width: 25%;
	border-top-left-radius: 10%; 
	border-top-right-radius: 10%; 
	border-bottom-left-radius: 10%; 
	border-bottom-right-radius: 10%;
}
 
 .version {
	color: white;
}

.text_1 {
	 color: #7fffd4;

 }
 
.text_2 {
	 color: yellow;
 }
 
 .text_3 {
	 color: yellow;
 }
 
.button-74 {
  background-color: black;
  border: 2px solid #ff4500;
  border-radius: 30px;
  box-shadow: yellow 4px 4px 0 0;
  color: #ff0000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}